<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flaskr TODO</title>
  <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

  <div class="container">
    <h1>To Do</h1>

    {% if lastInput %}
      <h2>Last Input = '{{ lastInput }}'</h2>
    {% else %}
      <h2>Nothing Input In this Session yet!!!</h2>
    {% endif %}

    <form action="{{ url_for('index') }}" method="post" class="add-entry">
      <div class="row">
        <div class="three columns">
          <label for="todoInput">Enter Item</label>
          <input class="u-full-width" type="text" placeholder="enter todo" id="todoInput" name="todoInputName">
          <input class="button-primary" type="submit" value="Submit">
        </div>
      </div>
    </form>

    <div class="list">
      <ul>
      {% for todo in todos %}
        <li>{{ todo[1] }}</li>
      {% endfor %}
      </ul>
    </div>

  </div>



</body>
</html>
