<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flaskr TODO</title>
  <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

  <div class="container">
    <h1>To Do</h1>

    <h2>Testing section</h2>

    {% if test %}
      <h2>Hello {{ test }}</h2>
    {% else %}
      <h2>Hello World!!</h2>
    {% endif %}

    <form action="{{ url_for('index') }}" method="post" class="add-entry">
      <div class="row">
        <div class="three columns">
          <label for="todoInput">Enter Item</label>
          <input class="u-full-width" type="text" placeholder="enter todo" id="todoInput" name="todoInputName">
        </div>
      </div>
    </form>

  </div>



</body>
</html>
